{% extends 'movies/base.html' %}

{% block content %}
<h1>영화 : {{movie.title}}</h1>

<p>관객수 : {{movie.audience}}</p>
<p><img src="{{movie.poster_url}}" alt="{{movies.title}}사진" width="200px"></p>
<p>줄거리 : {{movie.description}}</p>




{% for review in reviews %}
<hr>
<p>작성자:{{ review.user }} </p>
<p>
review : {{review.content}} 
</p>
<p>
point : {{review.score}}
</p>
{% if user == review.user %}
<form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
{% else %}
  {% if user in review.user.followers.all %}
    <form action="{% url 'movies:follow' movie.pk review.user_id %}">
      <input type="submit" value="UnFollow">
    </form>
  {% else %}
    <form action="{% url 'movies:follow' movie.pk review.user_id %}">
      <input type="submit" value="Following">
    </form>
  {% endif %}
    {% csrf_token %}
{% endif %}
{% endfor %}
<hr>
{% if user.is_authenticated %}
<form action="{% url 'movies:review_create' movie.pk %}" method="POST">
  {% csrf_token %}
  {{reviewform.as_p}}
  <input type="submit" value="댓">
</form>
{% endif %}

{% endblock content %}